.skeleton {
  background: linear-gradient(90deg, rgb(40, 40, 40) 25%, #2f2f2f 50%, #292929 75%);
  background-size: 200% 100%;
  animation: loading 5s infinite;
  border-radius: 4px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeletonContainer {
  width: 90%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.loadingContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.skeleton-title {
  height: 24px;
  width: 200px;
  margin-bottom: 16px;
  margin: auto;
}