.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* ocupa toda la altura */
  color: white;
  text-align: center;
  padding: 2rem;
}

.hero-content {
  max-width: 700px;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.25rem;
  line-height: 1.6;

}
