.overlay{
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

.modal-content{
    max-height: max-content;
    background-color: #191022;
    border:2px rgba(127, 19, 236, 0.2) solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}

.close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.4rem;
    transition: transform 0.3s ease;
}

.close:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.modal-title{
    margin: 1rem;
    margin-bottom: 0.3rem;
    font-size: 2.2rem;
}

.modal-subtitle{
    color: #4B5563;
    margin-bottom: 1.3rem;
}

.loginModal-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}

.loginModal-form-input{
    background-color: rgba(0, 0, 0, 0.2);
    border: #d1d5dba4 1px solid;
    padding: 0.8rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    color: white;
}

.loginModal-form-submit{
    background-color: #7f13ec;
    color: white;
    padding: 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: bold;
}
.loginModal-form-submit:hover{
    background-color: #7f13ecc2;
}

.loginModal-register-btn{
    margin-top: 0.5rem;
    padding: 0.8rem;
    width: 90%;
    background-color: #191022;
    border: #7f13ec 1px solid;
    color: #7f13ec;
    cursor: pointer;
    font-weight: bold;
}
.loginModal-register-btn:hover{
    background-color:#2f1e40;
}

.loginModal-lineas-container {
  display: flex;
  flex-direction: row;   
  align-items: center;  
  gap: 0.5rem;          
  width: 90%;
  color: #4B5563;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.loginModal-lineas {
  flex: 1;
  height: 1px;
  background-color:#4B5563;  
}
